## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats

## VS
.vs/

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/
